@model List<AccountViewModel>

<table class="table table-bordered table-hover" id="account-table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Address</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Website</th>
            <th>Parent Account</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Description</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model)
        {
            <tr>
                <td><a href="/crm/account/details/@record.AccountId?returnUrl=@Current.PathAndQuery">@Settings.Icon.DetailsIcon</a></td>                <td>@record.Name</td>
                <td>@record.Address</td>
                <td>@record.Address2</td>
                <td>@record.City</td>
                <td>@record.State</td>
                <td>@record.Zip</td>
                <td>@record.Phone</td>
                <td>@record.Fax</td>
                <td>@record.Website</td>
                <td>@record.ParentAccountId</td>
                <td>@record.Lat</td>
                <td>@record.Lng</td>
                <td>@record.Description</td>
                <td>@record.Active</td>
            </tr>
        }
	</tbody>
</table>


<script>
	(function() {
		var renderFuncs = window.renderFuncs || {};

		renderFuncs["account-table"] = [
            { targets: 6, render: "t4mvc.formatPhoneNumber" },

		];

		window.renderFuncs = renderFuncs;
	})();
</script>
