@model ProjectViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">                        <div class="form-group col-12">
                                <!-- Project Name -->
                    @Html.LabelFor(model => model.ProjectName)
                    @Html.t4mvcEditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })

                        </div>
                                </div>                    <div class="row">                        <div class="form-group col-6">
                                <!-- Start Date -->
                    @Html.LabelFor(model => model.StartDate)
                    @Html.t4mvcEditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })

                        </div>
                                    <div class="form-group col-6">
                                <!-- Due Date -->
                    @Html.LabelFor(model => model.DueDate)
                    @Html.t4mvcEditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })

                        </div>
                                </div>                    <div class="row">                        <div class="form-group col-6">
                                <!-- Account -->
                    @Html.LabelFor(model => model.AccountId)
                    @Html.Select2EditorFor(x => x.AccountId, x => x.AccountId, x => x.AccountIdName)
                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })

                        </div>
                                    <div class="form-group col-6">
                                <!-- Primary Contact -->
                    @Html.LabelFor(model => model.PrimaryContactId)
                    @Html.Select2EditorFor(x => x.PrimaryContactId, x => x.PrimaryContactId, x => x.PrimaryContactIdEmailAddress)
                    @Html.ValidationMessageFor(model => model.PrimaryContactId, "", new { @class = "text-danger" })

                        </div>
                                </div>                    <div class="row">                        <div class="form-group col-12">
                                <!-- Estimated Income -->
                    @Html.LabelFor(model => model.EstimatedIncome)
                    @Html.t4mvcEditorFor(model => model.EstimatedIncome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EstimatedIncome, "", new { @class = "text-danger" })

                        </div>
                                </div>                    <div class="row">                        <div class="form-group col-12">
                                <!-- Description -->
                    @Html.LabelFor(model => model.Description)
                    @Html.t4mvcEditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                        </div>
                                </div>
<div class="sections-accordion accordion" id="sections-accordion">
</div>
