
@{
    ViewData["Title"] = "Open Source Credits";
}
 
<div class="row">
    <h1>Open Source Credits</h1>

    <p>This website depends on the work of below open source projects. Please support them!</p>

    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>License</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- automapper -->
            <tr>
                <td><a href="https://automapper.org/" target="_blank">automapper</a></td>
                <td><a href="https://licenses.nuget.org/MIT">@Settings.Icon.FileIcon</a> MIT</td>
                <td>AutoMapper is a simple little library built to solve a deceptively complex problem - getting rid of code that mapped one object to another. This type of code is rather dreary and boring to write, so why not invent a tool to do it for us?</td>
            </tr>

            <!-- Bootstrap -->
            <tr>
                <td><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></td>
                <td><a href="https://github.com/twbs/bootstrap/blob/main/LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
                <td>Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.</td>
            </tr>

            <!-- datatables.net -->
            <tr>
                <td><a href="http://datatables.net" target="_blank">DataTables.net</a></td>
                <td><a href="http://datatables.net/license">@Settings.Icon.FileIcon</a> MIT</td>
                <td>Add advanced interaction controls to your HTML tables the free & easy way</td>
            </tr>

            <!-- Feather Icons -->
            <tr>
                <td><a href="https://feathericons.com/" target="_blank">Feather Icons</a></td>
                <td><a href="https://github.com/feathericons/feather/blob/master/LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
                <td>Simply beautiful open source icons</td>
            </tr>

            <!-- HtmlSanitizer -->
            <tr>
                <td><a href="https://github.com/mganss/HtmlSanitizer">HtmlSanitizer</a></td>
                <td><a href="https://github.com/mganss/HtmlSanitizer/blob/master/LICENSE.md">@Settings.Icon.FileIcon</a> MIT</td>
                <td>HtmlSanitizer is a .NET library for cleaning HTML fragments and documents from constructs that can lead to XSS attacks.</td>
            </tr>

            <!-- jQuery -->
            <tr>
                <td><a href="https://jquery.org">jQuery</a></td>
                <td><a href="https://jquery.org/license">@Settings.Icon.FileIcon</a> MIT via OpenJS Foundation</td>
                <td>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</td>
            </tr>

            <!-- Keymaster -->
            <tr>
                <td><a href="keymaster.js" target="_blank">Keymaster.js</a></td>
                <td><a href="https://github.com/madrobby/keymaster/blob/master/MIT-LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
                <td>Keymaster is a simple micro-library for defining and dispatching keyboard shortcuts in web applications.</td>
            </tr>

            <!-- log4net -->
            <tr>
                <td><a href="https://logging.apache.org/log4net/" target="_blank">log4net</a></td>
                <td><a href="https://logging.apache.org/log4net/license.html">@Settings.Icon.FileIcon</a> Apache 2.0</td>
                <td> a tool to help the programmer output log statements to a variety of output targets</td>
            </tr>

            <!-- Select2 -->
            <tr>
                <td><a href="https://select2.github.io">Select2</a></td>
                <td><a href="https://github.com/select2/select2/blob/master/LICENSE.md">@Settings.Icon.FileIcon</a> MIT</td>
                <td>The jQuery replacement for select boxes</td>
            </tr>

            <!-- Summernote -->
            <tr>
                <td><a href="https://summernote.org/">Summernote</a></td>
                <td><a href="https://github.com/summernote/summernote/blob/develop/LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
                <td>Summernote is a JavaScript library that helps you create WYSIWYG editors online</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h1>
            License: 
        </h1>

        <pre>
        MIT License

        Copyright (c) 2022 Zeph

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.
        </pre>
    </div>
</div>