@model List<ContactViewModel>
<!-- Create New -->
<div>
    @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-default" })
</div>

<table class="tabletable-bordered table-hover dataTable clientSideExcelButtonDataTable" role="grid" id="contact-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>AccountId</th>
            <th>Email Address</th>
            <th>Job Title</th>
            <th>Phone</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model)
        {
            <tr>
            <td>@record.FirstName</td>
            <td>@record.LastName</td>
            <td>@record.AccountId</td>
            <td>@record.EmailAddress</td>
            <td>@record.JobTitle</td>
            <td>@record.Phone</td>
            <td>@record.Active</td>
            </tr>
        }
	</tbody>
</table>

<script>
	(function() {
		var renderFuncs = window.renderFuncs || {};

		renderFuncs["contact-table"] = [
            { targets: 5, render: "format-phone" },
		];

		window.renderFuncs = renderFuncs;
	})();
</script>
