@model List<ContactViewModel>

<table class="table table-bordered table-hover" id="contact-table">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Account</th>
            <th>Email Address</th>
            <th>Job Title</th>
            <th>Phone</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var record in Model)
        {
            <tr>
                <td><a href="/crm/contact/details/@record.ContactId">@Settings.Icon.DetailsIcon</a></td>
                <td>@record.FirstName</td>
                <td>@record.LastName</td>
                <td>@record.AccountIdName</td>
                <td>@record.EmailAddress</td>
                <td>@record.JobTitle</td>
                <td>@record.Phone</td>
                <td>@record.Active</td>
            </tr>
        }
	</tbody>
</table>

<script>
	(function() {
		var renderFuncs = window.renderFuncs || {};

		renderFuncs["contact-table"] = [
            { targets: 5, render: "t4mvc.formatPhoneNumber" },
		];

		window.renderFuncs = renderFuncs;
	})();
</script>
