@model List<ContactViewModel>

<table class="table table-bordered table-hover" id="contact-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Account</th>
            <th>Email Address</th>
            <th>Job Title</th>
            <th>Phone</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model)
        {
            <tr>
            <td>@record.FirstName</td>
            <td>@record.LastName</td>
            <td>@record.AccountIdName</td>
            <td>@record.EmailAddress</td>
            <td>@record.JobTitle</td>
            <td>@record.Phone</td>
            <td>@record.Active</td>
            </tr>
        }
	</tbody>
</table>

